    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{global-prop "appName" prop1="abc" prop="bcd"}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="https://www.procurics.com/" target="_blank"><img src="https://d2p9jq7hry1ekj.cloudfront.net/web/images/new-logo-white.png" width="100px" height="auto"></a></li>
              <li><a href="http://sailsjs.org" target="_blank"><img src="http://sailsjs.org/images/logo_sails.png" width="50px" height="auto"/></a></li>
              <li><a href="https://github.com/sameerean/sails-mongo-crud" target="_blank"><img src="http://vctr90.github.io/css/github.png" width="30px" height="auto" class="img-circle"/></a></li>
              <li><a href="http://www.postgresql.org/" target="_blank"><img src="http://rob.conery.io/content/images/postgresql_logo-555px.png" width="40px" height="auto" class="img-responsive"/></a></li>
              <li><a href="http://expressjs.com/" target="_blank"><img src="https://camo.githubusercontent.com/fc61dcbdb7a6e49d3adecc12194b24ab20dfa25b/68747470733a2f2f692e636c6f756475702e636f6d2f7a6659366c4c376546612d3330303078333030302e706e67" width="100px" height="auto" class="img-rounded"/></a></li>
            <li><a href="/contact/reset">Reset data</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
<br/>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li class="active"><a href="/">Overview<span class="sr-only">(current)</span></a></li>
              <li>{{#link-to "index.contact"}}Contacts List{{/link-to}}</li>
              <li><a href="/contact/find">Find a Contact</a></li>
              <li><a href="/contact/new">New Contact</a></li>
          </ul>
            
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            pppp
      {{outlet}}
000000000          
        </div>
      </div>
    </div>
